telethon
python-dotenv
psutil
opencv-python-headless
devgagantools
aiofiles
kurigram
aiohttp
telethon-tgcrypto
aiosqlite
pymongo
pytz
Pillow
tgcrypto
flask
werkzeug==2.2.2
mutagen
yt-dlp
requests
cryptography